[user]
  email = lukas.tillmann@orf.at
  name = Lukas Tillmann
[core]
  editor = nvim
[alias]
   comit = commit
   lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
   last = log -1 HEAD --stat
   s = status
   co = checkout
   pullr = pull --rebase
   # prettier stash list
   st = stash list --pretty=format:\"%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%ci, %cr) %C(bold blue)<%an>%C(reset)\"
   # https://stackoverflow.com/a/18317425/5888924
   ignore = update-index --assume-unchanged
   unignore = update-index --no-assume-unchanged
   ignored = !git ls-files -v | grep "^[[:lower:]]"
   dev = checkout develop
   main = checkout main
[merge]
   tool = vscode
[diff]
   tool = vscode
[difftool "vscode"]
   cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
   cmd = code --wait --merge $MERGED
[init]
   defaultBranch = main
